:root {
    --white-color: #f6f6f2;
    --black-color: #000;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html {
    /* 16px */
    font-size: 62.5%;
    line-height: 1rem;
    font-family: 'Jolly Lodger', cursive;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #f6f6f2;
}

.navbar_grid {
    width: 1200px;
    max-width: 100%;
    height: 7rem;
    /*khi mà màn hình bé hơn 1200px thì nó sẽ chạy 100%*/
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 1200px;
    max-width: 100%;
    height: 7rem;
    /*khi mà màn hình bé hơn 1200px thì nó sẽ chạy 100%*/
    margin: 0 auto;
}